# Dependencies
node_modules/
jspm_packages/
web_modules/

# Next.js
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostics
report.*.json

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Coverage / build
coverage
*.lcov
.nyc_output
lib-cov
build/Release

# Tooling caches
.eslintcache
.stylelintcache
.node_repl_history
.vscode-test
.cache
.parcel-cache
.svelte-kit/
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# TypeScript
*.tsbuildinfo

# npm / yarn / pnpm
.npm
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env files
.env
.env.*
!.env.example

# Misc
.DS_Store

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
